.projects_hero {
    width:100%;
    height:560px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.hero_content {
    width:80%;
    height:560px;
   margin-right:2%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5%;
}

.left_items {
    width:65%;
    height:350px;
    display:flex;
    justify-content: flex-end;
}



.left_items_image_container {
display:flex;
overflow:hidden;

max-width:376px;
box-shadow: -21.4449px 21.4449px 50.038px 7.14829px rgba(82, 138, 221, 0.15);
border-radius: 11.4373px;

height: 421.75px;



}

.left_items_image_container img {
    object-fit:cover;
    width:100%;
}





.right_items {
    width:100%;
    height:350px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.text_layout{
    margin-top:35px;
}
.text_layout h1 {

width: 486.9px;
height: 60.28px;

font-family: 'Libre Baskerville';
font-style: normal;
font-weight: 400;
font-size: 41.7345px;
line-height: 52px;

color: #000000;
    
}

.line_div {
    background:black;
    height:1.1px;
    width:55%;
}
.text_layout h2 {
    width: 405px;
    height: 40px;
    
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 27.823px;
    line-height: 35px;
    
    color: #000000;
    
}

.text_layout h2 span{

    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 27.823px;
    line-height: 35px;
    
    background: linear-gradient(232.56deg, #16ABFF 44.11%, #16C7FF 54.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
}

.text_layout p{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 387.2px;
    height: 51px;
    
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 13.9115px;
    line-height: 20px;
    
    color: #000000;
    height:85px;
    
    
}
.text_layout h3{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 387.2px;
    height: 35px;
    
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 13.9115px;
    line-height: 12px;
    /* identical to box height, or 83% */
    
    
    color: #000000;
     
    
    
}
.text_layout h4{
    width: 387.2px;
    height: 12px;
    
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 13.9115px;
    line-height: 12px;
    /* identical to box height, or 83% */
    
    
    color: #000000;
     
    
    
}


