
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Libre Baskerville'), url(/fonts/LibreBaskerville-Regular.ttf) format('ttf');
}


@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Literata'), url(/public/fonts/Literata-VariableFont_opsz,wght.ttf) format('ttf');
}


.home_header {
  width: 100%;
  height: 559px;

  background: linear-gradient(180deg, #FFFFFF 41.67%, #FCFFFF 100%);
  display:flex;
  justify-content: center;
  align-items: center;
}

.header_info_box {
  display:flex;
  flex-direction: column;
  height:230px;
  margin:0;
  align-items: flex-start;
  justify-content: flex-start;
}

.h1 {
  width: 420px;
  height: 52px;

  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 0px;
  margin:0;
  color: #000000;  
  text-align: left;
}

.h2 {
  margin:0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  margin-top:20px;

  line-height: 0px;
  height:32px;
  
  color: #000000;  
}

.span {
  background: linear-gradient(232.56deg, #16ABFF 44.11%, #16C7FF 54.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;  
}

.p {
  margin-top:35px;
  height:150px;
  width: 342px;
  height: 50px;
  
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;


}
.content_box {
  margin-top:0px;
  width:65%;
  display:flex;
}
.left_items {
  display:flex;
width:100%;

display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.right_items {
  display:flex;
  width:100%;


}


.line_div {
  width: 270px;
height: .2px;

margin-top: 15px;
background-color:#000000;
}


.right_items_content{

  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 margin-top:-75px;
 margin-left:35%;


}

.right_items_content h1{
  margin:0px;
  display:block;
  font-size:20px;
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;


}
.right_items_content h2{
  display:block;
  font-size:20px;
  margin-bottom:15px;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
  margin-bottom:225px;
  
  


}
.image_styling_container {
  display:block;
  position:absolute;
  width:25%;
}
.right_items_main_image_container{

  width: 169px;
  height: 155px;

position:relative;
right:45%;
top:120px;
}
.right_items_main_image_container img{
  object-fit: cover;
  width: 169px;
  height: 155px;
  
 
  box-shadow: 0px 0px 0px 35px rgb(255, 255, 255);
  border-radius: 35px;

}


.right_items_accent_image_container{
  width: 374px;
  height: 307px;
  object-fit: cover;
  border-radius: 35px;
  }
  .right_items_accent_image_container img{
    object-fit: cover;
    width:100%;
    border-radius: 35px;
    
  }
  

.button_array {
  display:flex;
  width: 350px;
  height:120px;
  justify-content: flex-start;
  align-items:center;
  gap:12px;
}

.blue_button {
  width: 93px;
height: 33px;
border:0px;
font-family: 'Libre Baskerville';
background: linear-gradient(180deg, #0094FF 0%, #11A0FF 85.42%, #7CD0FF 88.02%);
border-radius: 5px;
color:white;
font-size: 12px;
}

.white_button {
  width: 93px;
  height: 33px;
  font-family: 'Libre Baskerville';
border-radius: 5px;
background: linear-gradient(98.51deg, #A9FFCB -10.14%, rgba(179, 223, 210, 0.873494) -2.85%, rgba(255, 255, 255, 0) 47.48%);
padding:.6%;
border:0px;
display:flex;
justify-content:center;
align-items:center;
}

.white_inner_button{
  background:white;
  width:100%;
 height:100%;
 font-family: 'Libre Baskerville';
 border-radius: 5px;
 display:flex;
 justify-content:center;
align-items:center;

}
.subheading_container {
  width:100%;

  height: 798px;
  display:flex;
  flex:1;
}


.subheading_left {
  width:50%;

  height:100%;
  display:flex;
}


.subheading_right {
  width:50%;

  height:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}
.subheading_left_items{
  width:95%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  gap:35px;
  margin-top:155px;


  
}
.subheading_left_items_header {
  width:100%;
  max-width: 412.44px;
  color:white;
  width: 420px;
  height: 53px;
  
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  
  color: #FFFFFF;
}

.subheading_left_bg {
  width:100%;
  background:black;
  height:100%;
  display:flex;
  background: #000000;
  box-shadow: 0px 35px 35px 35px rgba(0, 133, 255, 0.05);
  border-radius: 0px 9px 0px 0px;
  justify-content: flex-start;
  align-items: center;

}

.subheading_right_bg {
  width:100%;
 
  height:100%;
  display: flex;
  overflow: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
  linear-gradient(123.65deg, rgba(13, 222, 236, 0) 8.11%, rgba(36, 0, 255, 0) 111.98%),
  linear-gradient(249.83deg, #38A6F5 -5.37%, rgba(255, 255, 255, 0) 63.43%);
  justify-content: center;
  align-items:center;  

  border-radius: 35px;
  margin:0;
  
  overflow: auto;
}

.subheading_right_bg_overlay {
  position:absolute;
  width:75%;
  position:absolute;
  min-height: 74.5%;
  max-height:100%;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  flex-basis:auto;

  

  border-radius: 35px;  
}



.box_border_gradient {
  /* Centering the inner text */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Sizing the box */ 
  height: 100%;
  width: 100%;
   border-radius: 35px;  

}

.box_border_gradient {

    background-image: linear-gradient(deepskyblue, mediumblue);
  


background-image: linear-gradient(249.83deg, #38A6F5 -5.37%, rgba(255, 255, 255, 0) 63.43%);



  position: relative;
 
  z-index: 1;
}

.box_border_gradient::before {
  content: '';
  display: block;
 
  background-color: white;
  position: absolute;

  height: 99.1%;
  width: 99.3%;
 
  z-index: -1;
   border-radius: 35px;  
}

.project_header{
  width: 420px;
  height: 52px;
  
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  
  color: #000000;
  
}

.project_overview {
  width: 320px;
height: 36px;

font-family: 'Literata';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #4C6371;

}
.image_fx_container{
  height:109px;
  width:393px;
  display:flex;
  margin:25px;
}
.left_image_container{
  display:flex;
  justify-content: center;
  align-items:center;
  
  width: 101px;
  height: 109px;
  overflow:hidden;
  box-shadow: 0px 0px 0px 8px rgba(255,255,255,1);
border-radius: 8px;
z-index: 2;
}

.left_image{
object-fit:cover;
height:100%;


}

.right_image_container {
  width: 292px;
height: 109px;
overflow:hidden;
display:flex;
justify-content: center;
align-items:center;
border-radius: 0px 8px 8px 0px;

}

.right_image{
  
  object-fit:cover;
  width:100%;
  }

.project_description{
  margin-top:75px;
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width:100%;
  height: 231px;
  color: #4C6371;  
}
.project_buttons{

  margin-top:15px;
  display:flex;
  gap:12px;
}