
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Libre Baskerville'), url(/fonts/LibreBaskerville-Regular.ttf) format('ttf');
}


@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Literata'), url(/public/fonts/Literata-VariableFont_opsz,wght.ttf) format('ttf');
}



