.tabs {
    margin-top:35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:850px;
    width: 190%;
    
    gap:15px;
  
  }                   