.project_details_modal{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 15;
    background-color: rgba(248, 252, 255, 0.829);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mux_player  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 1rem;
    overflow: hidden;
  } 

.close_icon{
    color: grey;
    font-size:4rem;
    cursor: pointer;
    transition: all .4s ease;
}

.close_icon:hover{
    color: rgb(55, 105, 107);
    font-size:4rem;
    cursor: pointer;
}